.Writing {
    width: 60%;
    border: 1px solid #000000;
    margin-top : 100px;
    margin-left: 320px;
    padding: 20px;
}

.Writing div {
    margin-top: 30px;
    margin-left: 5px;
}

#title_txt {
    width: 91%;
    /* padding-bottom: 30px; */
    border: none;
    font-size: 30px;
    border-bottom: solid 1px #ababab;
    font-weight: bold;
}

#content_txt {
    width: 91%;
    font-size: 20px;
    resize: none;
    border: none;
    height: 400px;
    cursor: pointer;
}
p{
    display: flex;
    justify-content:space-between;
}

#content_txt:focus { outline : none; }
#title_txt:focus { outline : none; }

