.exercise-wrap {
    height:950px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.option1{
    padding-left:45%;
}
.option2 { 
    width: 100%;
    background-color: white;
}
