.whole {
    margin: 0 auto;
    padding-top: 70px;
}

.menu-header {
    display: flex;
    justify-content: space-between;
}

/* .logo {
    overflow: hidden;
    width: 10%;
    height:10%;
} */

.logo > img {
    width: 150px;
    padding: 0 30px;
}
.logo-wrap, .login-wrap {
    flex: 2;
    background-color: powderblue;
    display: flex;
    justify-content: center;
}

.menu-wrap {
    font-size: 40px;
    flex: 3;
    background-color: powderblue;
    display: flex;
    justify-content: space-around;
}

.logo, .menu1, .menu2, .menu3, .login {
    text-align: center;
    padding: 100px 0;
    height:100px;
    width: 200px;
} 

.menu1, .menu2, .menu3 {
    /* border: 2px solid black; */
    background-color: powderblue;
}

.logo, .login {
    background-color: powderblue;
}