*{
  magin: 0;
  padding: 0;
  box-siZing: border-box;
  font-size : 50px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-content: center;
  height: 150px;
  background-color: white;
  color: black;

}
